.container {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1px solid white;
  list-style-type: none;
  cursor: pointer;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid white;
}

.active {
  color: white;
  font-weight: bold;
}
